<%- include("include/header")%>
    <form action="" method="" >
      <table id="bottom">
        <colgroup>
          <col style="width: 5%" />
          <col style="width: 15%" />
          <col />
          <col style="width: 20%" />
          <col style="width: 15%" />
        </colgroup>
        <thead>
          <th>No.</th>
          <th>기분</th>
          <th>내용</th>
          <th>작성일시</th>
          <th>수정/삭제</th>
        </thead>
        <tbody>
          <% for(let i = list.length-1; i >= 0; i--) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= list[i].name %></td>
            <td><%= list[i].contents %></td>
            <td><%= list[i].time %></td>
            <td>
              <button id="updateBtn" data-num="<%= list[i].no %>"><span class="material-icons"> edit_note </span></button></
              ><button id="delBtn" data-num="<%= list[i].no %>"><span class="material-icons"> close </span></button></label
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="linkBox homeLink">
        <button id="homeBtn"><span>HOME</span></button>
        <a href="/logout"><span>LOGOUT</span></a>
      </div>
    </form>
    <script>
      const homeBtn = document.querySelector("#homeBtn");
      homeBtn.addEventListener("click",(e) => {
        e.preventDefault();
        location.href = "/";
      })
    </script>
  </body>
</html>
