<%- include("include/header")%>
    <form action="update" method="POST">
      <table id="bottom">
        <colgroup>
          <col style="width: 5%" />
          <col style="width: 15%" />
          <col />
          <col style="width: 20%" />
          <col style="width: 15%" />
        </colgroup>
        <thead>
          <th>No.</th>
          <th>기분</th>
          <th>내용</th>
          <th>작성일시</th>
          <th>수정/삭제</th>
        </thead>
        <tbody>
          <% for(let i = list.length-1; i >= 0; i--) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= list[i].name %></td>
            <td><%= list[i].contents %></td>
            <td><%= list[i].time %></td>
            <td>
              <button id="updateBtn" data-num="<%= list[i].no %>"><span class="material-icons"> edit_note </span></button></
              ><button id="delBtn" data-num="<%= list[i].no %>"><span class="material-icons"> close </span></button></label
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>
    <div class="linkBox homeLink">
      <a href="/"><span>HOME</span></a>
    </div>
    <script>
    </script>
  </body>
</html>
